<cfscript>
	ServerName = createObject("java", "java.net.InetAddress").localhost.getCanonicalHostName();
</cfscript>

<cfoutput>
<b>Health Check Page</b> <br>
<b>Application:</b> ZenPlanner.com <br>
<b>Server:</b> #mid(ServerName,1,find(".",ServerName)-1)# <br>
<b>Date/Time:</b> #dateformat(now(),'dd-mmm-yy')# #timeformat(now(),'HH:MM:SS')#<br>
</cfoutput> 